MQTT_HOST=host.containers.internal
MQTT_USER=your_mqtt_user
MQTT_PASS=your_mqtt_password
CLIENTS=3500
TIMEUNIT=2
TIME=1
MSGS=10000
QOS=0
RETAIN=false

# User = Usuario MQTT del broker.
# PASS = Contraseña MQTT del broker.
# HOST = Host o IP del broker MQTT.
# CLIENTS = Número de clientes a simular.
# TIMEUNIT = Unidad de tiempo (1=horas, 2=minutos, 3=segundos, 4=milisegundos).
# TIME = Intervalo entre mensajes de un cliente.
# MSGS = Cantidad de interacciones por cliente.
# QOS = Calidad de servicio para publicaciones (0, 1 o 2).
# RETAIN = Si los mensajes publicados deben quedar retenidos.